<ul>
    <li *ngFor="let user of userList">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <p>{{user.email}}</p>
        <hr>
    </li>
</ul>






<!-- <h3>Student-list works!</h3> -->

<!-- <form (submit)="addUser()">
    <br/>
    <label for="userName">
        Enter new user name :
    </label>
    <input type="text" name="userName" id="userName" [(ngModel)]="newUser">
    <br/>
    <button type="submit">Add</button>
</form> -->

<!-- <form (submit)="editStudent()" *ngIf="selectedStudentForEdit != undefined">
    <br/>
    <label for="name">
        Edit Student Name :
    </label>
    <input type="text" name="name" id="name" [(ngModel)] = "selectedStudentForEdit.name ">
    <br/>
    <button type="submit">Edit</button>
</form>

<div class="detailInfo" *ngIf="selectStudent != undefined">
    <app-student-info [stuInfo]="selectStudent" [studentCount] = "listOfStudent.length" (attendence)="setAttandence($event)"></app-student-info>
</div> -->

<!-- <ul>
    <li *ngFor="let stu of listOfStudent">
       <div (click)="selectStu(stu)">
        {{stu | json}} 
        <span class="numberStyle">
            {{stu.id}}
        </span> 
        <span class="nameStyle">
            {{stu.name | uppercase}}
        </span> 
        <span [ngClass]="[stu.att == 0 ? 'red' :  ( stu.att == 1 ? 'green' : 'black')]">
            Hi
        </span>
       </div>
       <button class="infoBtn" (click)="detailStuInfo(stu)">More Info</button>
    </li>
</ul> -->


<!-- 
<p *ngFor="let sum of listOfUSers">
    {{sum}}
    <span> is good person</span>
</p> -->